:root {
  --white: #fff;
  --bg: whitesmoke;
  --deepwhite: #d3d6d7;
  --blue: rgb(36, 100, 179);
  --grey: #efefef;
  --deepgray: rgb(168, 168, 168);
  --shadow-1: rgba(0, 0, 0, 0.12);
  --shadow-2: rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  padding: 0 1.25rem;
  font-family: "Outfit", sans-serif;
}

::selection {
  color: var(--white);
  background: var(--blue);
}

.wrapper {
  max-width: 34.375rem;
  margin: 9.375rem auto;
}

.wrapper .search-input {
  background: var(--white);
  width: 100%;
  border-radius: 1.875rem 1.875rem 1.6rem 1.6rem;
  position: relative;
  box-shadow: 0 0.063rem 0.313rem 0.188rem var(--shadow-1);
}

.search-input input {
  height: 3.125rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4.375rem !important;
  padding: 0 3.75rem 0 2.7rem;
  font-size: 1rem;
  box-shadow: 0 0.063rem 0.313rem var(--shadow-2);
}

.search-input.active input {
  border-radius: 0.313rem 0.313rem 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 17.5rem;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 0.6rem 0.5rem;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 0.5rem 0.8rem;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 0.19rem;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: var(--grey);
}

.search-input .icon {
  position: absolute;
  left: 1.3rem;
  top: 1rem;
  height: 1.1rem;
  width: 1.1rem;
  text-align: center;
  line-height: 3.438rem;
  font-size: 1.3rem;
  fill: var(--deepgray);
  cursor: pointer;
}
.search-input .delete {
  position: absolute;
  right: 1.3rem;
  top: 1rem;
  height: 1.1rem;
  width: 1.1rem;
  text-align: center;
  line-height: 3.438rem;
  font-size: 1.3rem;
  fill: var(--deepgray);
  cursor: pointer;
}
